<mat-sidenav-container autosize="true" class="cont">
  <mat-sidenav
    opened="true"
    class="sidenav p-2"
    #sidebar
    [mode]="isMobile ? 'over' : 'side'"
    [opened]="!isMobile"
  >
    <div class="side-cont">
      <div class="head d-flex align-items-center gap-1">
        <span><i class="ri-play-list-line fs-4"></i></span>
        <h4>Your Library</h4>
      </div>
      <div class="songsFromPlaylist mt-1">
        @if (isLoading) {
          <div class="loading-box">
            <div class="spinner-border text-primary z-3" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        } @else {
          <mat-nav-list>
            @for (song of playListSongs; track $index) {
              <mat-list-item (click)="playSongfromLib(song.videoId, $index)" class="songItem">
                <mat-icon matListIcon class="mat-18">album</mat-icon>
                <span matLine>{{ formatSongName(song.title) }}</span>
              </mat-list-item>
            }
          </mat-nav-list>
        }
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="main">
    <header class="d-flex flex-wrap align-items-center justify-content-start gap-1 gap-lg-5 ">
      <div class="bg-black p-2" mat-icon-button class="menu-btn" (click)="sidebar.toggle()">
        <mat-icon>menu</mat-icon>
      </div>
      <!-- <h3>Welcome {{ user.name.split(' ')[0] }}</h3> -->
      <mat-form-field class="search-box" appearance="fill">
        <mat-label>Search Songs</mat-label>
        <input
          type="text"
          matInput
          #searchInput
          [matAutocomplete]="auto"
          placeholder="Type to search..."
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            class="bg-black d-flex gap-2"
            *ngFor="let song of searchedSongs"
            [value]="song.snippet.title"
            (click)="playSong(song.id.videoId, 0)"
          >
            <div class="d-flex justify-content-center align-items-center gap-4">
              <img
                [src]="song.snippet.thumbnails.default.url"
                class="border-1"
                alt="thumb"
                width="60"
                height="60"
              />
              <span>{{ song.snippet.title.split('|')[0] }}</span>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- <button
        class="btn btn-primary position-absolute end-0 mx-3"
        mat-raised-button
        (click)="addPlaylist()"
      >
        Add Playlist
      </button> -->
      <!-- From Uiverse.io by cssbuttons-io -->
      <!-- <button class="" (click)="refreshPlaylist()">Refresh Playlist</button> -->
    </header>
    <div class="songs mt-3">
      <div class="playlist">
        <h3>Popular Playlist</h3>

        <div class="songs-container">
          <mat-card
            class="song-card"
            *ngFor="let playlist of playlistIDs"
            (click)="fetchPlaylist(playlist.id)"
          >
            <img mat-card-image [src]="playlist.img" alt="{{ playlist.name }}" />

            <mat-card-content>
              <h4>{{ playlist.artistName }}</h4>
              <p>{{ playlist.description }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <!-- !Music Bar  -->
      <div class="bottom-player">
        <iframe
          #music
          id="playerIframe"
          frameborder="0"
          allow="autoplay; encrypted-media"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
