.dialog-container {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.header img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid #333;
}

.content {
  padding: 18px;
}

.content h2 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
}

.content p {
  color: #b3b3b3;
  margin-bottom: 20px;
}

.play-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  font-weight: 600;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
