body {
  scrollbar-width: none;
  scrollbar-color: grey #12121287;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #12121287;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
